body {
  margin: 0;
  font-family: "times new roman", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue";
  padding: 0.5rem;
}
.btn {
  margin-right: 1rem;
  display: flex;
}
